@mixin full {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

@mixin center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  @include full;
  @include center;
  font-size: 16px;
  font-family: 'Courier', sans-serif;
}

.carousel {
  width: 600px;
  height: 400px;
  position: relative;
  overflow: hidden;

  &-slides {
    @include full;
  }
  .slide {
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;

    p {
      @include full;
      @include center;
      user-select: none;
      font-size: 2rem;
    }
  }
}
.red-bg { background-color: rgb(255,0,0); }
.green-bg { background-color: rgb(0,255,0); }
.blue-bg { background-color: rgb(0,0,255); }
.gray-bg { background-color: rgb(100,100,100); }
.purple-bg { background-color: rgb(255,0,255); }
